body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial
  }

  
.anim1 {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, white 50%, #6A5ACD 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .anim2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .anim3 {
    animation-duration:5s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  


