
body {
    background-color: #F1F1F1;
    margin: 0;
    box-sizing: border-box;
    color: #514B64;
    min-height: 100vh;
  }
  
 
/* portfolio */
  
  .aport{
    text-decoration: none;
    color: black ;
    
  }

#colone-portfolio{
    margin-top: 3%;
    margin-bottom:3% ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundport{
  background-color: #343a40;
}

.h1portfolio{
  margin-bottom: 5%;
  padding: 20px;
  text-align: center;
  color: #fff;
background-color: #6A5ACD;
}

.card-portfolio {
  margin: 1%;
  background-color: transparent;
  width: 300px;
  height: 200px;
}

.card-portfolio2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-portfolio:hover .card-portfolio2 {
  transform: rotateY(180deg);
}

.card-portfolio-front, .card-portfolio-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-portfolio-front {
  background-color:transparent;
  color: black;
}

.card-portfolio-back {
  background-color: #6A5ACD;
  color: white;
  transform: rotateY(180deg);
}


@media screen and (max-width: 1024px)
{
  #colone-portfolio
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}
 
 .h1portfolio{
  margin-bottom: 10%;
  font-size: xx-large;
  padding: 20px;
  text-align: center;
  color: #fff;
background-color: #6A5ACD;
 }
 .card-portfolio {
  margin-bottom: 8%;
  background-color: transparent;
  width: 300px;
  height: 200px;
}
}





/* cv */


  .back-cv{
    background-color: #343a40;
  }
  
.infocv{
  display: flex;
  justify-content: center;
  align-items: center;
}  
  
.img-infocv{
  width: 60%;
  margin-right: -15%;
}

.contenucv{
  margin-top: 2%;
}
 
.text-infocv{
  text-align: center;
  background-color: #6A5ACD;
  padding: 50px;
  color: #fff;
  font-size: x-large;
 margin-right: 8%;
}

.h1cv{
  margin-top: -2%;
  text-align: center;
  color: #fff;
  margin-bottom: 2%;
}

.buttoncv{
  margin: 1%;
  margin-bottom: 3%;
  background-color: #6A5ACD;
  color: #fff;
  padding: 10px;
  border: none;
  font-size: x-large;
}

.cvbutton{
  display: flex;
  justify-content: center;
  align-items: center;
}




/* The actual timeline (the vertical ruler) */
.timelinecv {
  
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.titretimeline{
  text-align: center;
  background-color: #6A5ACD;
  color: #fff;
  padding: 10px;
 
}

/* The actual timeline (the vertical ruler) */
.timelinecv::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.containercv {
  margin-bottom: 3%;
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.containercv::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.leftcv {
  left: 0;
}

/* Place the container to the right */
.rightcv {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.leftcv::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.rightcv::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.rightcv::after {
  left: -16px;
}

/* The actual content */
.contentcv {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}



@media screen and (max-width: 1024px)
{
  .infocv{
    display: flex;
    flex-direction: column;
  }  
    
  .cvbutton{
    display: flex;
    flex-direction: column;
  }
  .buttoncv{
    margin: 1%;
    margin-bottom: 3%;
    background-color: #6A5ACD;
    color: #fff;
    padding: 5px;
    border: none;
    font-size: large;
  }

  .img-infocv{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    
  }
  .text-infocv{
    text-align: center;
    display: block;
    margin: auto;
    background-color: #6A5ACD;
    padding: 20px;
    color: #fff;
    font-size: x-large;
    margin-bottom: 10%;
   
  }

  .h1cv{
    margin-top: -3%;
    text-align: center;
    color: #fff;
    margin-bottom: 6%;
  }
}





/* contact */


.back-contact{
  background-color: #343a40;
}

.titreh1contact{
  display: block;
  margin: auto;
  text-align: center;
  font-size: x-large  ;
  color: white;
  background-color: #6A5ACD;
  padding: 10px;
  
}

.formulaireall{
  width: 35%;
  background: white;
  border-radius: 6px;
 padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-right: 5%;
  
}
 .contentformulaire{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
 .inputcontact{
  height: 50px;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 2%;
}

#sujet{
  margin-top: 2%;
  margin-bottom:5%;
}

 .btncontact {
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #6A5ACD;
  cursor: pointer;
}

.rscontactall{
  width: 35%;
  background: white;
  border-radius: 6px;
 padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
}
 

.allcontact{
  display: flex;
  justify-content: center;
  align-items: center;
}


.rscontact{
  display: block;
  margin: auto;
  width: 20%;
}

@media (max-width: 950px) {
  .formulaireall{
    margin-left: 10%;
    width: 80%;
  }
  .contentformulaire{
   width: 75%;
   margin-left: 55px;
}
.allcontact{
  display: flex;
  flex-direction: column;
}
.rscontactall{
  width: 65%;
  margin-top: 4%;
  background: white;
  border-radius: 6px;
 padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
}
}
@media (max-width: 820px) {
  .contentformulaire{
    margin-left: 10%;
    height: 100%;
  }
  .contentformulaire{
    flex-direction: column-reverse;
  }
}




/* qui suis je */

.h1qsj{
  text-align: center;
  margin-bottom: 3%;
}

.backgroundqsj{
  background-color: #343a40;
  color: #fff;
}

.img-qsj{
  width: 30%;
  padding-right: 5%;
}

.img-qsj2{
  width: 40%;
  padding-right: 5%;
}


.texteqsj{
text-align: center;
 width: 400px;
 
}

#colone-qsj{
  margin-bottom:3% ;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px)
{
  #colone-qsj{
    display: flex;
    flex-direction: column;
  }
  .texteqsj
{
 padding: 20px;
  font-size:medium;
  margin-bottom: 15%;
}
.img-qsj{
  width: 40%;
}
.img-qsj2{
  width: 40%;
}
}


/* Accueil */

.backhome{
  background-color: #343a40;
  color: white;
}

.h1principal{
  padding-top: 3%;
  text-align: center;
}

.h1secondaire{
  padding-top: 2%;
  text-align: center;
}

.textehome{
  width: 50%;
  margin: auto;
  padding-top: 1%;
  text-align: center;
}

.boutonhome{
  display: inline-block;
  margin-left: 23%;
  width: 15%;
  height: 70px;
  background-color: #6A5ACD;
  color: white;
  border: none;
 margin-top: 2%;
}

.boutonhome2{
  display: inline-block;
  margin-left: 23%;
  width: 15%;
  height: 70px;
  background-color: white;
  color: #6A5ACD;
  border: none;
 margin-top: 2%;
}



.imghome{
  display: block;
  margin: auto;
  width: 15%;
}

@media screen and (max-width: 1024px)
{
  
.h1principal{
  padding-top: 3%;
  text-align: center;
  font-size:xx-large;
}

.h1secondaire{
  padding-top: 2%;
  text-align: center;
  font-size:x-large;
}

.textehome{
  width: 80%;
  margin: auto;
  padding-top: 1%;
  text-align: center;
  margin-bottom: 4%;
}

.boutonhome{
  display: inline-block;
  margin-left: 5%;
  width: 50%;
  height: 70px;
  background-color: #6A5ACD;
  color: white;
  border: none;
 margin-top: 2%;
}

.boutonhome2{
  display: inline-block;
  margin-left: 5%;
  width: 30%;
  height: 70px;
  background-color: white;
  color: #6A5ACD;
  border: none;
 margin-top: 2%;
}



.imghome{
  display: block;
  margin: auto;
  width: 30%;
}
}

/* erreur java */

.rouge{
  color: red;  
}

.cache{
  display: none;
}



/* scrollbar */

html::-webkit-scrollbar{
  width: 12px;
}


html::-webkit-scrollbar-track{
  background: #343a40;
}

html::-webkit-scrollbar-thumb{
  background: #6A5ACD;
}

.loader {
  display: block;
  margin: auto;
  margin-top: 5%;
  border: 36px solid #343a40; 
  border-top: 36px solid #6A5ACD; 
  border-radius: 50%;
  width: 320px;
  height: 320px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


 /* maintenance */

.loadertxt{
  font-size: xx-large;
  color: white;
  background-color: #6A5ACD;
  text-align: center;
}

