body{
    background-color: #343a40;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

h1{
    margin: 0;
    text-align: center;
    font-size:xx-large;
    color:  white;
    background-color: #6A5ACD;
    padding: 20px;
    margin-bottom: 5%;
}


.textbox{
    display: block;
    margin: auto;
    width: 250px;
    height: 200px;
    background-color: #6A5ACD;
    padding: 20px;
    border-radius:3% ;
    color: white;
}

input{
    display: block;
    margin: auto;
    width: 150px;
    height: 40px;
    margin-top: 10%;
    margin-bottom: 5%;
   border: none;
}

.button{
    margin-top: 3%;
}

.label{
   color: white;
}

.backlogin{
 
    margin-left: 46%;
    color: white;
}

.errormessage{
    font-size: xx-large;
    text-align: center;
    color: red;
}